#$RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-l

#RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

#Options All -Indexes
#AuthName "Autorizacion Requerida"
#AuthUserFile C:\xampp\htdocs\PhpPOO\.htpasswd
#AuthType Basic
# require user carlos 